{% extends "base.html.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block mainContent %}
    <div class="container mt-5">
        <h2>Liste des Contacts</h2>

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">5</th>
                    <td>Durand</td>
                    <td>Emilie</td>
                    <td>0123456789</td>
                    <td>
                        <a href="{{ path('app_contact') }}" type="button" class="btn btn-info">Afficher</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Durand</td>
                    <td>Hugo</td>
                    <td>0123456789</td>
                    <td>
                        <a href="{{ path('app_contact') }}" type="button" class="btn btn-info">Afficher</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Tank</td>
                    <td>Thor</td>
                    <td>0123456789</td>
                    <td>
                        <a href="{{ path('app_contact') }}" type="button" class="btn btn-info">Afficher</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}